/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gutencv {
	font-family: monospace;
	font-size: 18px;

	.gutencv-company {
		padding-left: 1rem;
		font-size: 16px;
	}

	.gutencv-date-wrap {
		padding-left: 0.5rem;
		font-size: 14px;
	}
}